.reviewFormContainer {
  max-width: 600px;
  margin: 40px auto 0px auto;
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.textareaStyle {
  width: 100%;
  height: 300px;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  resize: none;
  box-sizing: border-box;
}

.starRating {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.star {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.buttonStyle {
  width: 100%;
  padding: 0.8rem;
  background: linear-gradient(to right, #d0fff1, #ffccee);
  color: rgb(116, 116, 116);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 15px;
  transition: transform 0.3s ease;
}

.buttonStyle:hover {
  color: #333333;
  transform: scale(
    1.05
  );
}
